<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/stylesheets/style.css">
  <title>sannin melanoma detection</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1>sannin</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <ul>
 
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <br><br><br> <br><br><br>
        <h1 style="color: black; font-size: 40px;">Uncovering melanoma with CNN </h1>
        <h2><span  style="color: crimson; font-size: 40px; font-weight: bolder;">Deep Learning</span>&nbsp;&nbsp;<span style="color: white; font-size: 40px;">Project!</span></h2></h1>
        <h1></h1>
        <a href="../static/dashboard/Dashboard.html" type="button" class="cta">Get Started </a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
